@{
    ViewData["Title"] = "Home Page";
}

<main>
    <article>
        <div><h1>Out Team</h1></div>
        <div class="flex">
            <div class="Box">
                <div>
                    <img id="photo" src="https://scontent.fbkk4-2.fna.fbcdn.net/v/t39.30808-6/361663387_1517042569033296_3797849742997118815_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG0871-McnpN7LQPKYf10Adm9S2TE_vYRKb1LZMT-9hEvBC46KVikrNnsErhIuvVKE2oJ91qvRxCWP4E9X_Q_17&_nc_ohc=09hzQUdr0doAX-9UpWT&_nc_oc=AQmPw6tnacgalQ1LvrM1gUsZqRwp_4XBEfFvCn8jNYOWNkbdXAE8vhVGsr_vtC1T5pA&_nc_zt=23&_nc_ht=scontent.fbkk4-2.fna&_nc_e2o=f&oh=00_AfC-c7rVGN6VXJX0EONZpJgoWB8rLn1-UEO23pF5t-zssA&oe=6536D69F" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
            <div>
                <div>
                    <img id="photo" src="https://scontent.fbkk4-5.fna.fbcdn.net/v/t39.30808-6/336799651_166469785863667_5373023245038790103_n.jpg?stp=cp6_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHMJZNu-n-4RvxV6BMiivJnXM6YenvzKbBczph6e_MpsJiKNR8lB-Zhd1Mjsvftrq10u1wle1FpBBbqfHOsbi6z&_nc_ohc=KuUZXYy5i_QAX84MyVr&_nc_zt=23&_nc_ht=scontent.fbkk4-5.fna&_nc_e2o=f&oh=00_AfBqv04335XRhZUAcpT1aWQ79RqW2bC99LFHnNrx1UeFBQ&oe=6537E37A" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="flex">
            <div>
                <div>
                    <img id="photo" src="https://scontent.fbkk4-1.fna.fbcdn.net/v/t1.6435-9/106988905_3107597069347541_5217115240538657818_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=be3454&_nc_eui2=AeF5yznY27t1ZnELn5sBk9cqnjdLJ4KzFvueN0sngrMW-0lVk5FM8y9aUKx145PhOhRRG32qz5OYi-1fC3SsBiep&_nc_ohc=N3oReZprSB4AX92tPS2&_nc_oc=AQmOEI5we-OoOg9ZrVNw7J_0RtiFGCPoVJ_cZSRwGBo9e1MzTku69CuR7ofCDYz45tQ&_nc_ht=scontent.fbkk4-1.fna&_nc_e2o=f&oh=00_AfB9HALobR2fR0XaFtOXW_SNQgF7LEPcDFE_tIg80JV0JA&oe=65597558" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <!-- ข้อมูลแต่ละคน -->
                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>

                </div>


            </div>
            <div>
                <div>
                    <img id="photo" src="https://scontent.fbkk4-2.fna.fbcdn.net/v/t39.30808-6/261562302_135632095511208_5880387017901894784_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFL7p-Te3Aw5M4MQH77UMX0B0P2Uwk_EKkHQ_ZTCT8QqcOSNBac-gW9YIquYvBYQQtAlBQt3IPHiS-FSfihojBq&_nc_ohc=h_cD6maSQuQAX9exR5X&_nc_zt=23&_nc_ht=scontent.fbkk4-2.fna&_nc_e2o=f&oh=00_AfBgx19YtSKzRwRPEn5xaO-TRtHXtyeVdoBn73JAasflvQ&oe=6536F169" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
            <div>
                <div>
                    <img id="photo" src="https://scontent.fbkk4-2.fna.fbcdn.net/v/t39.30808-6/317801557_1441969802995074_6235670947586443195_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEVIun0Ctv8GYhPKS44ud71hOH6SQKTQnOE4fpJApNCcwnSOD2OsaEJfLonTCy0HSRqFLlOKrHgsMJnBFCyIvys&_nc_ohc=uAjnVHzE8TwAX8mPjK3&_nc_zt=23&_nc_ht=scontent.fbkk4-2.fna&_nc_e2o=f&oh=00_AfDdAqU_md-ZUZcOzn8xYVK8R1cf3Boy45JoJEGzqLMf3A&oe=6536292C" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
    </article>

</main>