@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My team</title>
    <link rel="stylesheet" href="myabout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <video id="background-video" autoplay loop muted poster="Intro.jpg">
        <source src="Intro.mp4" type="video/mp4">
    </video>
    <h1>Welcome to <b>Rub Fakk</b></h1>
    <h2>You can entrust someone else to buy food for you.</h2>
    <h2>by Computer Engineering.</h2>
    <h2><a href="home.html" class="button_go">Get Started</a></h2> <!-- Link to Home Page. -->
    
</body>
</html>