
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/8a42fdd63a.js" crossorigin="anonymous"></script>
    
</head>
<body>
 
    <main>

        <article>
            <div class="content">
                <div class="logo_in_main">
                    <img src="https://scontent.fbkk5-4.fna.fbcdn.net/v/t1.15752-9/394117893_1109527910427292_4445855294360337515_n.png?_nc_cat=110&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeFKmGRcPaKfUm9n_vWBhxAbtio_9eDkccy2Kj_14ORxzG6WoSNUyM16dHF_dMGtPvWu71id04R47-SU53VKnaVW&_nc_ohc=XG6N_Dja_hQAX_dn6yK&_nc_ht=scontent.fbkk5-4.fna&_nc_e2o=f&oh=03_AdSnGkM0zOXzFJpbrIp9lvIQslf3X6c_GORLrw3zStvV2g&oe=655A943D" alt="" style="">
                </div>
                <p>กรอกข้อมูลเพื่อใช้งานเว็บไซต์</p>
                <div class="fullname">
                    <div class="logo_fullname">
                        <i class="fa-solid fa-user" style="font-size:15px"></i>
                        <span class="Enter_fullnamae">
                            <input type="text" id="username" name="username" placeholder="Enter your fullname"><br>
                        </span>
                    </div>
                </div>
                <div class="phone">
                    <div class="logo_phone">
                        <i class="fa fa-phone" style="font-size:15px"></i>
                        <span class="Enter_phone">
                            <input type="text" id="username" name="username" placeholder="Enter your phone number"><br>
                        </span>
                    </div>

                </div>
                <div class="Enter">
                    <button type="button">ยืนยัน</button>
                </div>
            </div>

        </article>
    </main>
</body>
</html>