
@{
    ViewData["Title"] = "Main";
}




   
        <!--********************************************************************************* Section info ********************************************************************************* -->
        <!-- tab ข้อมูลผู้ใช้ และ ปุ่มรายการฝากซื้อ ม รายการรับฝากซื้อ -->
        <div class="item1_info">
            <img src="https://www.petsworld.in/blog/wp-content/uploads/2014/09/funny-cat.jpg" class="profile_img">
            <h2 class="nametxt">สลิด คนเดิม.</h2>
            <h3 class="phonetxt">0823632737</h3>
            <button class="btnInfo" type="button" onclick="">
                รายการฝากซื้อ
                <span class="notifyIcon">!</span>
            </button>
            <button class="btnInfo" type="button" onclick="">
                รายการรับฝากซื้อ
                <span class="notifyIcon">!</span>
            </button>
        </div>


        <!--****************************************************************************** Section Create Post ***************************************************************************** -->
        <!-- ฟีดที่เลื่อนได้ -->
        <div class="item2_postFeeds">
            <!-- blog สร้างประกาศ -->
            <div class="createBlog">
                <div class="imgNamePhoneContainer">
                    <!-- รูปโปรไฟล์ blog ประกาศ -->
                    <div><img src="https://www.petsworld.in/blog/wp-content/uploads/2014/09/funny-cat.jpg" class="profile_img"></div>
                    <!-- จัดรูปแบบ ชื่อ , เบอร์โทร blog ประกาศ -->
                    <div class="namePhoneContainer">
                        <h2 class="nametxt">สลิด คนเดิม.</h2>
                        <h3 class="phonetxt">0823632737</h3>
                    </div>
                </div>
                <!-- กล่อง input ข้อความ , เส้น , ปุ่ม submit ประกาศ -->
                <div class="createPostContain2">
                    <input class="txtInputCreate" type="text" id="fname" name="firstname" placeholder="เพิ่มรายละเอียดของคุณสักหน่อยสิ อย่างจุดนัดหมาย">
                    <span class="line"></span>
                    <input type="submit" value="ประกาศ" class="btnSubmit">
                </div>
            </div>
            <!-- ข้อความใต้ blog ประกาศ ลิสต์รายการรับฝาก , ปุ่ม refresh -->
            <div class="txtUnderCreatePost">
                <div><h3>ลิสต์รายการรับฝาก</h3></div>
                <div>
                    <span class=reload>&#10227;</span><a href="#" class="txtRefresh">รีเฟรช</a>
                </div>
            </div>

            <!--******************************************************************************* Section View Post ****************************************************************************** -->
            <!-- โพสต์ ต่าง ๆ -->
            <div class="createBlog">
                <div class="viewPostContain1">
                    <div class="imgNamePhoneContainer">
                        <div><img src="https://www.petsworld.in/blog/wp-content/uploads/2014/09/funny-cat.jpg" class="profile_img"></div>
                        <div class="namePhoneContainer">
                            <h2 class="nametxt">สลิด คนเดิม.</h2>
                            <h3 class="phonetxt">0823632737</h3>
                        </div>
                    </div>
                    <a href="#" class="closBtn">ปิด</a>
                </div>
                <div class="viewPostContain2">
                    <p class="msgPost">รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!! รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!</p>
                    <span class="line"></span>
                </div>
                <div class="viewPostContain3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Dog_Breeds.jpg" class="profile_img">
                    <input class="txtInputCreate" type="text" id="fname" name="firstname" placeholder="เพิ่มรายละเอียดของคุณสักหน่อยสิ อย่างจุดนัดหมาย">
                    <input type="submit" value="ยืนยัน" class="btnSubmit">
                </div>
            </div>
            <!-- โพสต์ ต่าง ๆ -->
            <div class="createBlog">
                <div class="viewPostContain1">
                    <div class="imgNamePhoneContainer">
                        <div><img src="https://www.petsworld.in/blog/wp-content/uploads/2014/09/funny-cat.jpg" class="profile_img"></div>
                        <div class="namePhoneContainer">
                            <h2 class="nametxt">สลิด คนเดิม.</h2>
                            <h3 class="phonetxt">0823632737</h3>
                        </div>
                    </div>
                    <a href="#" class="closBtn">ปิด</a>
                </div>
                <div class="viewPostContain2">
                    <p class="msgPost">รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!! รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!</p>
                    <span class="line"></span>
                </div>
                <div class="viewPostContain3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Dog_Breeds.jpg" class="profile_img">
                    <input class="txtInputCreate" type="text" id="fname" name="firstname" placeholder="เพิ่มรายละเอียดของคุณสักหน่อยสิ อย่างจุดนัดหมาย">
                    <input type="submit" value="ยืนยัน" class="btnSubmit">
                </div>
            </div>
            <!-- โพสต์ ต่าง ๆ -->
            <div class="createBlog">
                <div class="viewPostContain1">
                    <div class="imgNamePhoneContainer">
                        <div><img src="https://www.petsworld.in/blog/wp-content/uploads/2014/09/funny-cat.jpg" class="profile_img"></div>
                        <div class="namePhoneContainer">
                            <h2 class="nametxt">สลิด คนเดิม.</h2>
                            <h3 class="phonetxt">0823632737</h3>
                        </div>
                    </div>
                    <a href="#" class="closBtn">ปิด</a>
                </div>
                <div class="viewPostContain2">
                    <p class="msgPost">รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!! รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!</p>
                    <span class="line"></span>
                </div>
                <div class="viewPostContain3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Dog_Breeds.jpg" class="profile_img">
                    <input class="txtInputCreate" type="text" id="fname" name="firstname" placeholder="เพิ่มรายละเอียดของคุณสักหน่อยสิ อย่างจุดนัดหมาย">
                    <input type="submit" value="ยืนยัน" class="btnSubmit">
                </div>
            </div>
            <!-- โพสต์ ต่าง ๆ -->
            <div class="createBlog">
                <div class="viewPostContain1">
                    <div class="imgNamePhoneContainer">
                        <div><img src="https://www.petsworld.in/blog/wp-content/uploads/2014/09/funny-cat.jpg" class="profile_img"></div>
                        <div class="namePhoneContainer">
                            <h2 class="nametxt">สลิด คนเดิม.</h2>
                            <h3 class="phonetxt">0823632737</h3>
                        </div>
                    </div>
                    <a href="#" class="closBtn">ปิด</a>
                </div>
                <div class="viewPostContain2">
                    <p class="msgPost">รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!! รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!</p>
                    <span class="line"></span>
                </div>
                <div class="viewPostContain3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Dog_Breeds.jpg" class="profile_img">
                    <input class="txtInputCreate" type="text" id="fname" name="firstname" placeholder="เพิ่มรายละเอียดของคุณสักหน่อยสิ อย่างจุดนัดหมาย">
                    <input type="submit" value="ยืนยัน" class="btnSubmit">
                </div>
            </div>




