@{
    ViewData["Title"] = "Privacy Policy";
}
<main>
    <article>
        <div><h1>Out Team</h1></div>
        <div class="flex">
            <div class="Box">
                <div>
                    <img id="photo" src="bass.jpg" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
            <div>
                <div>
                    <img id="photo" src="K.jpg" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="flex">
            <div>
                <div>
                    <img id="photo" src="dif.jpg" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <!-- ข้อมูลแต่ละคน -->
                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>

                </div>


            </div>
            <div>
                <div>
                    <img id="photo" src="brow.jpg" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
            <div>
                <div>
                    <img id="photo" src="plug.jpg" alt="">
                </div>
                <div class="information">
                    <h3>ชื่อผู้ดำเนินการ</h3>

                    <p>ตำแหน่งหน้าที่</p>

                    <div class="info">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto, modi sed veniam aspernatur eaque voluptatum reiciendis recusandae illo ipsum.</i>
                    </div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
    </article>

</main>