
@{
    ViewData["Title"] = "Result";
}

<!-- tab ข้อมูลผู้ใช้ และ ปุ่มรายการฝากซื้อ ม รายการรับฝากซื้อ -->
<div class="item1_info">
    <img src="https://www.petsworld.in/blog/wp-content/uploads/2014/09/funny-cat.jpg" class="profile_img">
    <h2 class="nametxt">สลิด คนเดิม.</h2>
    <h3 class="phonetxt">0823632737</h3>
    <button class="btnInfo" type="button" onclick="">
        รายการฝากซื้อ
        <span class="notifyIcon">!</span>
    </button>
    <button class="btnInfo" type="button" onclick="">
        รายการรับฝากซื้อ
        <span class="notifyIcon">!</span>
    </button>
</div>

<!--****************************************************************************** Section รายการ รับฝากซื้อ ***************************************************************************** -->
<div class="item2_postFeeds">
    <div class="createBlog">
        <div class="topContainer">
            <div class="imgNamePhoneContainer">
                <div><img src="https://www.petsworld.in/blog/wp-content/uploads/2014/09/funny-cat.jpg" class="profile_img"></div>
                <div class="namePhoneContainer">
                    <h2 class="nametxt">สลิด คนเดิม.</h2>
                    <h3 class="phonetxt">0823632737</h3>
                </div>
            </div>
            <p class="msgPost">รับฝากซื้อกะเต๋วจั๊ฟ~ ร้านป้าสมศรี เจอกันที่เก่าเวลาเดิม (หน้าตึก ECC) มาคนเดียว ไม่งั้นกะเต๋วแกตาย!!!</p>
            <span class="line"></span>
        </div>
        <div class="midContainer">
            <div class="imgNamePhoneContainer">
                <div><img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Dog_Breeds.jpg" class="profile_img"></div>
                <div class="namePhoneContainer">
                    <h2 class="nametxt">ไอบาส ศิวะ.</h2>
                    <h3 class="phonetxt">0823632737</h3>
                </div>
            </div>
            <p class="msgPost">เล็กน้ำตกจร้า รับที่ ECC น้าา~</p>
        </div>
        <div class="bottomContainer">
            <input type="submit" value="ได้รับอาหารแล้ว" class="btnSubmit">
        </div>
    </div>


