html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    border: 1px ;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height:150px;
}


header {
    border-bottom: 2px solid black;
    display:flex;
    justify-content:space-between;
    height:180px;
    align-items:center
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.about {
    border: 2px solid red;
    border-radius: 50px;
    
}

button {
    margin: 15px;
    border: none;
    background-color: white;
}


a {
    color: red;
    text-decoration: none
}

/*this is main */

main {
    margin-top: 80px;
}

.content {
    justify-content: center;
    display: grid;
}

.logo_in_main {
    display: flex;
    justify-content: center;
}

div p {
    font-size: 12px;
    text-align: center;
    padding-bottom: 16px;
}

.fullname {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.logo_fullname {
    margin-bottom: 8px;
}

input {
    border: none;
}

.phone {
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

.logo_phone {
    margin-bottom: 8px;
}

i {
    margin-left: 10px;
}


input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: black;
}


.Enter {
    border: 2px solid red;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(255,0,0,0.6);
}

    .Enter button {
        background-color: rgb(255,0,0,0);
    }



header {
    display: flex;
    align-items: center;
    font-size: 18px;
    border-bottom: 2px solid black;
}

article {
}

header > * {
    padding: 20px;
}

div h1 {
    text-align: center;
}

.flex {
    display: flex;
    margin-bottom: 50px;
    /* border: 2px solid red; */
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

    .flex > div {
        border: 2px solid black;
        background-color: #C0C0C0;
        display: flex;
        margin: 10px;
        text-align: center;
        height: 250px;
    }

#photo {
    padding: 10px;
    border-radius: 50%;
    width: 150px;
}



.Box > p {
    border: 2px solid blue;
}

.info {
    border-bottom: 15px solid white
}

.fa {
    border-radius: 50%;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}



/*css ของ Main*/

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navBar {
    border: 2px solid rgb(4, 239, 39);
    background-color: aliceblue;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.flexContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding-top: 2%;
}

.item1_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    position: fixed;
    left: 30px;
    width: 15%;
}

.nametxt {
    margin: 0;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;
}

.phonetxt {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #111111;
    opacity: 40%;
}

.profile_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.btnInfo {
    position: relative;
    height: 65px;
    color: #F84E4E;
    border: 2px solid #F84E4E;
    border-radius: 45px;
    font-size: 22px;
    font-weight: 700;
    background-color: transparent;
    width: 90%;
    margin-top: 7%;
}

    .btnInfo:hover {
        color: white;
        background-color: #F84E4E;
        .notifyIcon
{
    color: #F84E4E;
    border: 1px solid #F84E4E;
    background-color: #ffffff;
}

}

.notifyIcon {
    position: absolute;
    top: -9px;
    right: -17px;
    color: #ffffff;
    ;
    border: 1px solid #ffffff;
    background-color: #F84E4E;
    border-radius: 100%;
    padding: 4px 13px;
    box-shadow: -1px 1px 7px 1px #888888;
    /* display: none; */
}


.item2_postFeeds {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    position:relative;
    left: 300px;
    
}

.createBlog {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 12px 1px #888888;
    border-radius: 30px;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 30px 50px 30px 50px;
    margin-bottom: 5%;
}

.imgNamePhoneContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2% 0 0 2%;
    margin-bottom: 15px;
}

.namePhoneContainer {
    margin-left: 20px;
    padding-top: 0;
}

.createPostContain2 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    margin-bottom: 0;
}

.txtInputCreate {
    font-size: 20px;
    font-weight: 700;
    color: rgba(17, 17, 17, 0.4);
    background-color: rgba(80, 75, 75, 0.1);
    height: 40px;
    width: 90%;
    border: 0 solid transparent;
    border-radius: 50px;
    padding: 5px 5px 5px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.btnSubmit {
    width: 25%;
    height: 60px;
    border-radius: 30px;
    background-color: #F84E4E;
    color: #fff;
    border: 0 solid transparent;
    font-size: 20px;
    font-weight: 700;
}

    .btnSubmit:hover {
        box-shadow: 1px 1px 12px 1px #888888;
    }

.line {
    margin: 3% 0 3% 0;
    border-bottom: 2px solid rgba(17, 17, 17, 0.4);
    width: 100%;
}

.txtUnderCreatePost {
    display: flex;
    flex-direction: row;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-right: 35px;
}

    .txtUnderCreatePost > div {
        padding-left: 0;
        padding-right: 0;
        color: #F84E4E;
        font-size: 24px;
        font-weight: 700; /* Bold */
    }

.txtRefresh {
    color: #F84E4E;
    font-size: 24px;
    font-weight: 400; /* Regular */
}

.reload {
    font-family: Lucida Sans Unicode; /* refresh symbol */
    margin-right: 5px;
}

.viewPostContain1 {
    display: flex;
    justify-content: space-between;
}

.viewPostContain2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.viewPostContain3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1% 0 1%;
}

.closeBtn {
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.msgPost {
    padding-left: 2%;
    padding-right: 2%;
    word-wrap: break-word;
    text-indent: 2rem;
    margin-bottom: 0;
}

/* layout รายการฝาก และ รายการรับฝากซื้อ */
.topContainer {
    display: flex;
    flex-direction: column;
    /* background-color: #F84E4E; */
}

.midContainer {
    margin-bottom: 3%;
    /* background-color: #18d146; */
}

.bottomContainer {
    /* background-color: #4514f6; */
    display: flex;
    justify-content: center;
}


.navbar-logo {
    max-width: 100px;
    border: 2px solid blue;
    height: auto;
}